@import '../styles/base.scss';

.cards{
    padding-top: 40px;
    padding-bottom: 100px;
    background: $icons-bc;
    position: relative;

        .card{
            display: flex;
            align-items: flex-start;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            .card-img-holder{
                height: 150px;
                width: 150px;
                .card-img{
                    border-radius: 20px;
                    border: 2px solid $red-ad-bg;
                    height: 150px;
                    width: 150px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            p{
                padding: 0px 20px;
                color: $cards-tc2;
                span{
                    &.green{
                        color: $cards-tc1;
                    }
                }
            }
        }
}