@import '../styles/base.scss';

.icons{
    background: $icons-bc;
    .icons-holder{
        display: flex;
        justify-content: space-between;
        .icon{
            height: 100%;
            width: calc(100%/4);
            text-align: center;
            padding: 0px 20px;
            border-bottom: 0px solid $icons-brc;
            transition: all 0.3s ease;
            h2{
                font-size: 16px;
                color: #9688A5;
            }
            &:hover{
                text-decoration: none;
                border-bottom: 2px solid $icons-brc;
                transition: all 0.3s ease;
                -webkit-box-shadow: 10px 0px 48px -6px rgba(0,0,0,0.92);
                -moz-box-shadow: 10px 0px 48px -6px rgba(0,0,0,0.92);
                box-shadow: 10px 0px 48px -6px rgba(0,0,0,0.92);
            }
            &.active{
                text-decoration: none;
                border-bottom: 2px solid $icons-brc;
                transition: all 0.3s ease;
                -webkit-box-shadow: 10px 0px 48px -6px rgba(0,0,0,0.92);
                -moz-box-shadow: 10px 0px 48px -6px rgba(0,0,0,0.92);
                box-shadow: 10px 0px 48px -6px rgba(0,0,0,0.92);
            }
        }
    }
}